
{{ 'output.css' | asset_url | stylesheet_tag }}

{% comment %}
  Age Verification Modal - Injected directly in theme.liquid
{% endcomment %}

{% assign age_limit = block.settings.age_limit %}
{% assign title = block.settings.title %}
{% assign message = block.settings.message | replace: '[ age ]', age_limit %}
{% assign accept_message = block.settings.accept_message | replace: '[ age ]', age_limit %}
{% assign reject_message = block.settings.reject_message | replace: '[ age ]', age_limit %}
{% assign popup_image = block.settings.popup_image %}


<style>
  body.modal-open {
    overflow: hidden !important;
    height: 100vh;
  }

  .custom-size {
  font-size: 25px;
}
</style>

<!-- Age Verification Modal -->
<div id="popup-modal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-yellow-100 rounded-2xl shadow-2xl border-4 border-white-700 w-[40%] h-[300px] max-w-3xl p-4 flex relative">
    
    <!-- Left: Image -->
    <div class="md:w-2/5 w-full flex justify-center items-center p-4">
       
      {% if popup_image == blank %}
      <img 
        src="{{ 'lock.png' | asset_url }}" 
        alt="Default Popup Image" 
        width="300" 
        height="300" 
        class="justify-center object-contain rounded-lg" 
      />
    {% else %}
      <img 
        src="{{ popup_image | image_url: width: 300 }}" 
        alt="Popup Image" 
        width="300" 
        height="300" 
        class="justify-center object-contain rounded-lg" 
      />
    {% endif %}

    </div>

    <!-- Right: Text and Buttons -->
    <div class="md:w-3/5 w-full flex flex-col justify-center p-4 text-center md:text-left">
      <!-- Close Button -->
      

      <h1 class="custom-size font-bold text-gray-800 mb-4">{{ title }}</h1>

      <p class="text-m text-gray-600 mb-6">{{ message }}</p>

      <div class="flex flex-col space-y-3">
        <button onclick="window.location.href="" class="border border-yellow-600 text-yellow-800 font-medium py-2 rounded-lg hover:bg-yellow-200 transition">{{ reject_message }}</button>
        <button onclick="handleYes()" class="bg-blue-700 text-white font-medium py-2 rounded-lg hover:bg-blue-800 transition">{{ accept_message }}</button>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    if (!localStorage.getItem("age_verified")) {
      document.getElementById("popup-modal").classList.remove("hidden");
    }
  };

  function handleYes() {
    localStorage.setItem("age_verified", "true");
    document.getElementById("popup-modal").classList.add("hidden");
  }
</script>
